@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --text: #fef4f4;
  --primary: #bc0e19;
  --hover: #b4000c;
}

/* ALL This */
h2 {
  color: var(--text);
  font-size: 38px;
  font-weight: bold;
  font-family: "Volkhov";
}

h3 {
  font-size: 18px;
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

h4 {
  color: var(--text);
}
button {
  border: none;
  color: var(--text);
  background: var(--primary);
  font-size: 16px;
  font-weight: 400;
  border-radius: 13px;
  height: 40px;
  width: 160px;
  cursor: pointer;
}

button:hover {
  background: var(--hover);
}

li {
  color: var(--text);
}
/* End alk this */

body {
  font-family: "Montserrat", sans-serif;
  background: #1a1c22;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

nav .row {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.row .list ul {
  display: flex;
  color: var(--text);
  font-size: 18px;
  font-weight: 500;
  gap: 24px;
}

.row {
  display: flex;
  gap: 30px;
}

nav .row .sign {
  display: flex;
  gap: 15px;
}

nav .row .sign .lang {
  display: flex;
}

.row .sign .lang p {
  font-style: 22px;
  font-weight: 500;
  color: var(--text);
}

.row .sign .lang img {
  margin-top: 6px;
  width: 18px;
  height: 8px;
}

.row .sign button {
  margin-top: -6px;
  height: 35px;
  width: 95px;
}

/* HAMBURGER MENU */
nav .menu {
  display: none;
}

nav .menu .bar {
  display: block;
  width: 32px;
  height: 4px;
  border-radius: 4px;
  margin: 7px 0;
  background: var(--text);
  transition: all 0.25s ease-in-out;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -6px);
}
/* HAMBURGER MENU */

/* End Nav */

/* Start The Con
tent */
.container {
  display: flex;
}
.hero .container {
  display: flex;
  width: 100%;
}

.desc {
  padding: 80px 130px;
}

.desc h1 {
  color: var(--text);
  font-size: 48px;
  font-family: "Volkhov";
  font-weight: bold;
}

.desc p {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  width: 600px;
}

.desc button {
  height: 42px;
  width: 160px;
  margin-top: 24px;
}

.spider {
  margin-top: 40px;
  background: #5064a0;
  height: 450px;
  width: 450px;
  border-radius: 50px 50% 50% 200px;
}

.spider img {
  width: 330px;
  margin-left: 50px;
  margin-top: 26px;
}

/* Service section*/

.title h2 {
  text-align: center;
  margin-top: 180px;
}

.card {
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card .box {
  background: #1f2127;
  height: 250px;
  width: 240px;
  border-radius: 30px;
  padding: 35px 15px;
}

.card .box img {
  width: 60px;
  height: 60px;
}

.card .box h3 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 15px;
}

.card .box p {
  color: var(--text);
  font-size: 13px;
  font-weight: 300;
  margin-top: 8px;
}

.adv {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 175px;
  gap: 110px;
}

.adv img {
  width: 550px;
  height: 450px;
}

.adv h2 {
  width: 500px;
  height: 200px;
  margin-top: 130px;
}

.populer {
  margin-top: 60px;
  height: 100vh;
}

.populer h2 {
  padding-left: 75px;
}

.populer .populer-month {
  display: flex;
  justify-content: space-between;
}

.populer .populer-month button {
  margin-right: 80px;
}

.populer .card {
  gap: 50px;
}

.populer .card .box {
  width: 260px;
  height: 287px;
  border: 1px solid #e3e0e0;
  margin-top: 40px;
}

.populer .card .box img {
  margin-top: -19px;
  width: 226px;
  height: 139px;
}

.populer .card .box h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 14px;
}

.populer .card .box h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

.populer .card .box .ratings {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.populer .card .box .ratings img {
  height: 20px;
  width: 20px;
  margin-top: 3.4px;
}

/* End Populer */

.paket {
  height: 100vh;
}

.paket h2 {
  text-align: center;
}

.paket .container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.paket .container .card .box .list ul {
  flex-direction: column;
}

.paket .container .list ul li {
  color: var(--text);
  margin-bottom: 20px;
}
.paket .card .box {
  height: 600px;
  width: 400px;
}

.paket .card .box h2 {
  font-size: 25px;
}

.paket .card .box h3 {
  text-align: center;
  font-size: 30px;
  color: var(--primary);
}

.paket .card .box span {
  color: var(--text);
  font-size: 16px;
}
.paket .card .box .wrapper {
  display: flex;
  margin-top: 24px;
  gap: 12px;
  padding: 0px 24px;
}
.paket .card .box .wrapper .list-checklist {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.paket .card .box .wrapper .list-checklist img {
  height: 24px;
  width: 24px;
}

.paket .card .box button {
  margin: 60px 100px;
}

/* Langganan Section */
.langganan {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  height: 50vh;
}

.langganan .box {
  height: 250px;
  width: 1200px;
  background: #c8cfec;
  border-radius: 20px;
  position: relative;
}

.langganan .box h3 {
  text-align: center;
  color: #1a1c22;
  margin-top: 66px;
  font-size: 20px;
}

.langganan .box .email {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.langganan .box input {
  height: 40px;
  width: 300px;
  background: #fef4f4;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  color: #1a1c22;
  outline: none;
}

.langganan .box input::placeholder {
  font-size: 14px;
}

.langganan .circle {
  background: #1a1c22;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: -10px;
  margin-top: -5px;
}

.langganan img {
  position: absolute;
  right: -10px;
}

footer .container {
  justify-content: space-evenly;
  padding: 48px 80px;
}

footer h3 {
  margin-bottom: 24px;
}
footer .footer-netflix p {
  color: var(--text);
  width: 400px;
  font-size: 14px;
}

footer ul li a {
  color: var(--text);
  text-decoration: none;
}

.hak-cipta .container {
  color: var(--text);
  justify-content: space-between;
}

.hak-cipta .kebijakan {
  display: flex;
  gap: 24px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  nav .row {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 100px;
    left: -157px;
    transition: all 0.3s ease;
  }

  nav .row.active {
    left: 80px;
  }

  nav .list ul {
    flex-direction: column;
  }

  nav .row .sign {
    flex-direction: column;
  }

  nav .menu {
    display: block;
    margin-top: -10px;
  }

  .hero .desc {
    padding: 40px;
  }

  .hero .desc p {
    width: 100%;
  }

  .hero .desc h1 {
    font-size: 40px;
  }

  .hero .spider {
    margin-left: 40px;
  }

  .adv {
    text-align: center;
    gap: 1px;
  }

  .populer {
    height: 150vh;
  }

  .populer h2 {
    padding-left: 60px;
  }

  .populer .populer-month button {
    margin-left: 10px;
  }

  .populer .card {
    gap: 50px;
  }

  .paket {
    height: 300vh;
  }

  footer .container {
    flex-direction: column;
  }

  footer h3 {
    margin-top: 20px;
  }
}
